{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% block css %}  {% endblock %}
</head>

<body>

    <div class="container">
        <header class="header">
            <div class="header_container">
                <img src="{% static 'Images/Logo.png' %}" alt="logo" width="155px" height="158px" class="header_logo__img">
                <div class="header_menu">
                    <a href="{% url 'index' %}" class="header_menu__link Home ">Home</a>
                    {% if user.is_superuser or user.is_staff %}
                    <a href="{% url 'users:dashboard' %}" class="header_menu__link Dashboard">Dashboard</a>
                        <a href="{% url 'vacation:vacation_requests'  %}" class="header_menu__link Dashboard" style="line-height: 0">Requests  <span style="margin-left: 3px; font-size: 22px; background: url('{% static 'Images/white-cicle.jpg' %}'); border-radius: 100%; color: #2FC2FF; width: 20px; height: 20px; padding-top: 10px"> {{ not_accepted_requests | length }} </span></a>
                    {% else %}
                    <a href="{% url 'index' %}" class="header_menu__link Dashboard">SOMETHING</a>
                    <a href="{% url 'vacation:take_vacation' %}" class="header_menu__link Take_vacation">Take vacation</a>
                    {% endif %}
                    <a href="{% url 'documents' %}" class="header_menu__link Documents">Documents</a>
                </div>

                 {% if user.is_authenticated %}
                    <img src="{% if user.image %} {{ user.image.url }} {% else %} {% static 'Images/profile.png' %} {% endif %}" alt="profile" width="94px" height="94px"
                        class="header_profile__img">
                    <div class="dropdown">
                        <div class="dropdown_head">
                            <a href="{% url 'users:profile' user.id %}"><img src="{% if user.image %} {{ user.image.url }} {% else %} {% static 'Images/profile.png' %} {% endif %}" alt="profile" width="94px" height="94px" class="header_profile__img"></a>
                            <span>
                               <p><a style="color: white" href="{% url 'users:profile' user.id %}">{{ user.first_name }}</a></p>

                                <p style="font-weight: 200; text-align: left;"><a style="color: white" href="{% url 'users:profile' user.id %}">#{{ user.id }}</a></p>
                            </span>
                        </div>
                    {% if user.is_superuser or user.is_staff %}
{#                        <div class="dropdown_list">#}
{#                            <img src="{% static 'Images/calendar.png' %}" alt="">#}
{#                            <a href="{% url 'vacation:calendar' %}">Vacations calendar</a>#}
{#                        </div>#}
                        <div class="dropdown_list">
                            <img src="{% static 'Images/request.png' %}" alt="">
                            <a href="{% url 'admin:index' %}">Admin-panel</a>
                        </div>
                    {% endif %}
                    {% if user.is_authenticated %}
    <div class="dropdown_list">
        <img src="{% static 'Images/calendar.png' %}" alt="">
        <a href="{% url 'vacation:calendar' %}">Vacations calendar</a>
    </div>
{% endif %}

                        <div class="dropdown_list">
                            <img src="{% static 'Images/question.png' %}" alt="">
                            <a href="{% url 'instructions' %}">How to use?</a>
                        </div>
                        <div class="dropdown_list">
                            <img src="{% static 'Images/logout.png' %}" alt="">
                            <a  href="{% url 'users:logout' %}">Log out</a>
                        </div>
                    </div>
                {% else %}
                    <a class="Login" href="{% url 'users:login' %}">Log in</a>
                {% endif %}


            </div>
        </header>

    {% block addition  %}  {% endblock %}
    {% block content %}  {% endblock %}


    </div>
    <script>
        let dropIcon = document.querySelector('.header_profile__img');
        let dropDown = document.querySelector('.dropdown');
        dropIcon.addEventListener('click', function(e){
            dropDown.classList.toggle('active')
        })

        let select = document.querySelector('.select');
        let sort = document.querySelector('.sort');

        select.addEventListener('click', function(e){
            sort.classList.toggle('sort_active')
        })
    </script>

    <script>
        let lines = document.querySelectorAll(".line");


        lines.forEach(element => {
        let cont = element.parentElement.querySelector(".container_info");
        let closeImg = element.parentElement.querySelector(".close");
            element.addEventListener('click', function(){
                cont.classList.toggle('cont_active')
            })
            closeImg.addEventListener('click', function(){
            cont.classList.toggle('cont_active')
    })
        });


    </script>
</body>
</html>