{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
    <div class="container">
        <p>Log in to ECLAir system</p>
        <form action="{% url 'users:login' %}" method="post">
            {% csrf_token %}
            <div class="input_div">
                <label for="{{ form.username.id_for_label }}"></label>
                {{ form.username }}
                <label for="{{ form.password.id_for_label }}"></label>
                {{ form.password }}
            </div>
        <div class="button_div">
            <button type="submit">Log in</button>
        </div>
        </form>
    </div>
</body>

</html>