


{% extends 'general/base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/vacationHistory.css' %}" />
{% endblock %} {% block content %}
<br>
<div class="page-title">
  <h2>Календарь</h2>
  <div class="indicators">
  <span style="background-color:#F1BDBA;"></span><p>Прошлые</p>
  <span style="background-color:#83B4AB;"></span><p>Сейчас</p>
  <span style="background-color:#ffa200;"></span><p>Запланировано</p>
  </div>
</div>
<br>
<div id='calendar'></div>

<style>
    .fc-event-time{
        display: none;
    }
    .fc-day-today{
        background-color: skyblue!important;
    }
    .page-title{
      display: flex;
      justify-content: space-between;
      align-items:center;
    }
    .page-title .indicators{
      display: flex;
      align-items:center;
    }

    .page-title span{
      margin: 0px 10px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid;
    }

</style>
<script>
  document.addEventListener('DOMContentLoaded', async function  () {
        const calendarRanges = await axios.get('api/').then(res=>{
            return res.data
        })




        const now = calendarRanges.now_vacations_data.map((range)=>{
          return {
                    start: range.start,
                    end: range.end,
                    display: 'background',
                    color: 'green',
                    classNames: ['now-holidays']
                }
        })

        const past = calendarRanges.past_vacations_data.map((range)=>{
          return {
                    start: range.start,
                    end: range.end,
                    display: 'background',
                    color: 'red',
                    classNames: ['past-holidays']
                }
        })

        const planned = calendarRanges.upcoming_vacations_data.map((range)=>{
          return {
                    start: range.start,
                    end: range.end,
                    display: 'background',
                    color: '#ffa200',
                    classNames: ['planned-holidays']
                }
        })

        const all = [
          ...now,
          ...past,
          ...planned
        ]



        const calendarEl = document.getElementById('calendar')
        const calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          eventDisplay: 'block',
          aspectRatio: 4,
          height: 'auto',
          events: [
      ...all
    ]
        })
        calendar.render()
      })

</script>

    {% endblock %}
  </table>
</div>