{% extends 'general/base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/vacationHistory.css' %}" />
{% endblock %} {% block content %}
<br>
<h2>История</h2>
<br>
<div id='calendar'></div>


<style>
    .fc-event-time{
        display: none;
    }
    .fc-day-today{
        background-color: skyblue!important;
    }

</style>
<script>
  document.addEventListener('DOMContentLoaded', async function  () {
        const holidays = await axios.get('api/').then(res=>{
            return res.data.map((day)=>{
                return {
                    start: day.date_of_begin,
                    end: day.date_of_end,
                    // title: day.comments,
                    display: 'background',
                    color: 'red',
                }
            })
        })

        const calendarEl = document.getElementById('calendar')
        const calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'multiMonthYear',
          eventDisplay: 'block',
          aspectRatio: 4,
          height: 'auto',
          events: [
      ...holidays
    ]
        })
        calendar.render()
      })

</script>

    {% endblock %}
  </table>
</div>